
<%= form_with(model: discover_flight, class: "contents") do |form| %>

  
  <div x-data="{ currentPage: 1 }" class="lg:w-[25rem] px-5">
    
    <div x-show="currentPage === 1" class="flex flex-col justify-between">
      <div class="max-w-sm">
        <% if discover_flight.errors.any? %>
          
          <!--Commented out has it disappearing after 10 secs-->
          <!--<div x-data="{ showErrors: <%= discover_flight.errors.any? %> }" x-show="showErrors" x-init="setTimeout(() => showErrors = false, 10000)"  class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">-->
          <div x-data="{ showErrors: <%= discover_flight.errors.any? %> }"  class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
            <h2><%= pluralize(discover_flight.errors.count, "mistake") %> need to be fixed</h2>
            <ul>
              <% discover_flight.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <div class="">
        <div class="my-5 flex flex-col">
          <span class="text-slate-700 font-semibold text-base">First Name</span>
          <%= form.text_field :first_name, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-custom-500 focus:ring-custom-500" %>
        </div>

        <div class="my-5 flex flex-col">
          <span class="text-slate-700 font-semibold text-base">Last Name</span>
          <%= form.text_field :last_name, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-custom-500 focus:ring-custom-500" %>
        </div>

        <div class="my-5 flex flex-col">
          <span class="text-slate-700 font-semibold text-base">Email</span>
          <%= form.text_field :email, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-custom-500 focus:ring-custom-500" %>
        </div>

        <%= invisible_captcha :confirm_email, :discover_flight %>

        <div class="my-5 flex flex-col">
          <span class="text-slate-700 font-semibold text-base">Phone</span>
          <%= form.text_field :phone, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-custom-500 focus:ring-custom-500" %>
        </div>

        <div class="my-5" x-data="{ selectedAircraft: '' }">
          <span class="mb-4 font-sans text-lg font-semibold text-slate-700">Select aircraft category</span>
          <div class="flex flex-row justify-start gap-3 pt-5">
            <label class="inline-flex items-center pb-5">
              <%= form.radio_button :aircraft, 'airplanes', { class: "hidden", "data-x-model" => "selectedAircraft" } %>
              <span class="relative">
                <span class="inline-flex items-center justify-center text-slate-700 border border-slate-300 rounded-md bg-slate-50 hover:bg-slate-400" :class="{ 'bg-custom-500': selectedAircraft == 'airplanes' }">
                  <span class="px-4 py-2 font-sans text-base text-slate-800" :class="{ 'text-slate-50': selectedAircraft == 'airplanes' }">Airplanes</span>
                </span>
                <span class="absolute top-0 bottom-0 left-0 right-0 cursor-pointer" @click="selectedAircraft = 'airplanes'"></span>
              </span>
            </label>

            <label class="inline-flex items-center pb-5" >
              <%= form.radio_button :aircraft, 'helicopters', { class: "hidden", "data-x-model" => "selectedAircraft" } %>
              <span class="relative">
                <span class="inline-flex items-center justify-center text-slate-700 border border-slate-300 rounded-md bg-slate-50 hover:bg-slate-400" :class="{ 'bg-custom-500': selectedAircraft == 'helicopters' }">
                  <span class="px-4 py-2 font-sans text-base text-slate-800" :class="{ 'text-slate-50': selectedAircraft == 'helicopters' }">Helicopters</span>
                </span>
                <span class="absolute top-0 bottom-0 left-0 right-0 cursor-pointer" @click="selectedAircraft = 'helicopters'"></span>
              </span>
            </label>

            <label class="inline-flex items-center pb-5" >
              <%= form.radio_button :aircraft, 'both', { class: "hidden", "data-x-model" => "selectedAircraft" } %>
              <span class="relative">
                <span class="inline-flex items-center justify-center text-slate-700 border border-slate-300 rounded-md bg-slate-50 hover:bg-slate-400" :class="{ 'bg-custom-500': selectedAircraft == 'both' }">
                  <span class="px-4 py-2 font-sans text-base text-slate-800" :class="{ 'text-slate-50': selectedAircraft == 'both' }">Both</span>
                </span>
                <span class="absolute top-0 bottom-0 left-0 right-0 cursor-pointer" @click="selectedAircraft = 'both'"></span>
              </span>
            </label>
          </div>
        </div>
      </div>

      <div class="inline">
        <input type="button" x-on:click="currentPage = 2" class="btn-primary" value="NEXT">
      </div>
    </div>

    <div x-show="currentPage === 2" x-cloak>
      <div class="my-5" x-data="{ selectedDate: '' }">
        <%= form.label "Select Discovery Flight Date", class: "font-semibold text-lg text-slate-700" %>
        <div class="grid grid-cols-3 pt-5">
          <% today = Date.today %>
          <% (0..17).each do |i| %>
            <% date = today + i.days %>
            <label class="inline-flex items-center pb-5">
              <%= form.radio_button :preferred_date, date.strftime('%Y-%m-%d'), { class: "hidden", "data-x-model" => "selectedDate" } %>
              <span class="relative">
                <span class="inline-flex items-center justify-center bg-slate-50 border  border-slate-300 rounded-md cursor-pointer hover:border-slate-400" :class="{ 'bg-custom-500 text-white': selectedDate == '<%= date.strftime('%Y-%m-%d') %>' }">
                  <span class="px-4 py-2 text-base" :class="{ 'text-slate-700': selectedDate != '<%= date.strftime('%Y-%m-%d') %>', 'text-white': selectedDate == '<%= date.strftime('%Y-%m-%d') %>' }"><%= date.strftime('%B %d') %></span>
                </span>
                <span class="absolute top-0 bottom-0 left-0 right-0 cursor-pointer" @click="selectedDate = '<%= date.strftime('%Y-%m-%d') %>'"></span>
              </span>
            </label>
          <% end %>
        </div>
      </div>


      <div class="my-5" x-data="{ selectedAvailability: '' }">
        <span class="text-slate-700 font-semibold text-lg">Select preferred availability</span>
        <div class="grid grid-cols-2 mt-5 gap-3">
          <% availability_options = ['7 AM to 10 AM', '10 AM to 1 PM', '1 PM to 4 PM', '4 PM to 7 PM'] %>
          <% availability_options.each do |option| %>
            <label class="">
              <%= form.radio_button :preferred_availability, option, { class: "hidden", "data-x-model" => "selectedAvailability" } %>
              <span class="relative">
                <span class="inline-flex items-center justify-center text-slate-700 border border-slate-300 rounded-md bg-slate-50 " :class="{ 'bg-custom-500': selectedAvailability == '<%= option %>' }">
                  <span class="px-4 py-2 font-sans text-base text-slate-800" :class="{ 'text-slate-50': selectedAvailability == '<%= option %>' }"><%= option %></span>
                </span>
                <span class="absolute top-0 bottom-0 left-0 right-0 cursor-pointer" @click="selectedAvailability = '<%= option %>'"></span>
              </span>
            </label>
          <% end %>
        </div>
      </div>


      <div class="flex justify-between">
        <input type="button" class="btn-primary" @click="currentPage--" :disabled="currentPage === 1" value="PREVIOUS">
        <input type="button" class="btn-primary" @click="currentPage++" value="NEXT">
      </div>
    </div>

    <div x-show="currentPage === 3" x-cloak>
      <div class="my-5" x-data="{ alternateDate: '' }">
        <%= form.label "Select Alternate Flight Date", class: "font-semibold text-lg text-slate-700" %>
        <div class="grid grid-cols-3 pt-5">
          <% today = Date.today %>
          <% (0..17).each do |i| %>
            <% date = today + i.days %>
            <label class="inline-flex items-center pb-5">
              <%= form.radio_button :alternate_date, date.strftime('%Y-%m-%d'), { class: "hidden", "data-x-model" => "alternateDate" } %>
              <span class="relative">
                <span class="inline-flex items-center justify-center bg-slate-50 border  border-slate-300 rounded-md cursor-pointer hover:border-slate-400" :class="{ 'bg-custom-500 text-white': alternateDate == '<%= date.strftime('%Y-%m-%d') %>' }">
                  <span class="px-4 py-2 text-base" :class="{ 'text-slate-700': alternateDate != '<%= date.strftime('%Y-%m-%d') %>', 'text-white': alternateDate == '<%= date.strftime('%Y-%m-%d') %>' }"><%= date.strftime('%B %d') %></span>
                </span>
                <span class="absolute top-0 bottom-0 left-0 right-0 cursor-pointer" @click="alternateDate = '<%= date.strftime('%Y-%m-%d') %>'"></span>
              </span>
            </label>
          <% end %>
        </div>
      </div>

      <div class="my-5" x-data="{ alternateAvailability: '' }">
        <span class="text-slate-700 text-lg font-semibold">Select alternate date availability</span>
        <div class="grid grid-cols-2 mt-5 gap-3">
          <% availability_options = ['7 AM to 10 AM', '10 AM to 1 PM', '1 PM to 4 PM', '4 PM to 7 PM'] %>
          <% availability_options.each do |option| %>
            <label class="">
              <%= form.radio_button :alternate_availability, option, { class: "hidden", "data-x-model" => "alternateAvailability" } %>
              <span class="relative">
                <span class="inline-flex items-center justify-center text-slate-700 border border-slate-300 rounded-md bg-slate-50 " :class="{ 'bg-custom-500': alternateAvailability == '<%= option %>' }">
                  <span class="px-4 py-2 font-sans text-base text-slate-800" :class="{ 'text-slate-50': alternateAvailability == '<%= option %>' }"><%= option %></span>
                </span>
                <span class="absolute top-0 bottom-0 left-0 right-0 cursor-pointer" @click="alternateAvailability = '<%= option %>'"></span>
              </span>
            </label>
          <% end %>
        </div>
      </div>
      <div class="flex justify-between">
        <input type="button" class="btn-primary" @click="currentPage--" :disabled="currentPage === 1" value="PREVIOUS">
        <input type="button" class="btn-primary" @click="currentPage++" value="NEXT">
      </div>
    </div>
    <div x-show="currentPage === 4" x-cloak>
      <div class="my-5">
        <span class="p-text">Hi There! Looking forward to flying with you.  Is there anything you'd like us to know?  We'll give you a call shortly.</span>
        <%= form.text_area :comments, rows: 4, class: "block shadow rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-custom-500 focus:ring-custom-500" %>
      </div>

      <div class="flex justify-between">
        <input type="button" class="btn-primary" value="PREVIOUS" @click="currentPage--">
        <div class="inline">
          <%= form.submit "SCHEDULE", class: "btn-primary", data: { turbo: false } %>
        </div>
      </div>

      <div class="mt-10 text-slate-600 italic text-sm">This form is a request to complete a discovery flight at Ideal Aviation.  The requested or alternate dates for a flight may or may not be available depending on demand and availability.  </div>
      <div class="mt-10">
        <%= image_tag "simplifly_250.webp"%>
      </div>
    </div>
  </div>
<% end %>