<%= render "shared/header" %>
<main class="bg-slate-50 w-full flex flex-col items-center justify-center">
  <!--Container for contents-->
  <div class="lg:w-3/5 md:w-4/5 pb-10">
    <h1 class="font-bold text-4xl py-10 text-center">Get ready to fly!</h1>  
    <p class="px-5 p-text pb-5">
    Thank you<%if notice.present?%>, <%= notice %>,<%end%> for requesting a discovery flight with Ideal Aviation.  We're excited to have you on board and can't wait to share our passion for flying with you.
    A member of our team will be in touch shortly to confirm your flight details. You can also give us a call at <%=link_to "1-618-337-5845", "tel:1-618-337-5845" %> or email us at <%= mail_to 'info@idealaviationstl.com', class: "text-slate-800 hover:underline"%>
    </p>
    <p class="px-5 p-text">
      In the meantime, please take a moment to review the important information below:
    </p>

  </div>

  <div class="flex flex-col lg:flex-row">
    <div class="lg:w-1/2 lg:px-10">
      <h2 class="font-bold text-2xl py-10 text-center">What to Expect on Your Discovery Flight</h2>
      <p class="p-text px-5">
        Your Discovery Flight is designed to give you a taste of what it's like to be a pilot. You'll spend approximately 30 minutes in the air with one of our certified flight instructors, who will guide you through the basics of flying and answer any questions you may have. You'll also have the opportunity to take the controls and experience the thrill of flying first-hand.
      </p>
      <h2 class="font-bold text-2xl py-10 text-center">What to Bring</h2>
      <p class="p-text px-5">
        On the day of your Discovery Flight, please bring a government-issued ID (such as a driver's license or passport) and dress comfortably for the weather. We also recommend wearing closed-toe shoes and sunglasses.
      </p>
      <div class="pt-10 flex flex-row gap-3 justify-center">
        <%= link_to programs_path do %>
          <div class="btn-primary mb-10">
            VIEW PROGRAMS
          </div>
        <% end %>

        <%= link_to root_path do %>
          <div class="btn-primary mb-10">
            HOME PAGE
          </div>
        <% end %>
      </div>

    </div>
    
    <div class="lg:w-1/2">
      <%= image_tag "wingtip.webp", class: "lg:w-3/4", alt: "fly over St. Louis Gateway Arch during sunset"%>
    </div>
  </div>

</main>

<%= render "shared/footer"%>