<header class="flex flex-col w-full bg-home lg:h-screen-3/4 lg:bg-bottom bg-cover px-10 ">
  <div class="flex lg:flex-row flex-col justify-between w-full mt-10 lg:mt-5">
    <div class="grid place-items-center">
      <p class="font-bold text-4xl pb-5">
        (610) 495-7000
      </p>
    </div>
    <div class="grid place-items-center lg:place-items-end ">
      <%= image_tag "pitcairn-flight-logo-vertical-800.webp", class: "h-32", alt: "Pitcairn Flight Logo"%>
    </div>
  </div>

  <div class="lg:mt-32 mt-10 flex flex-col items-center ">
    <h1 class="lg:text-6xl text-4xl font-bold text-center">Become a Pilot at<br>Pottstown Heritage Field Airport</h1>
    <h2 class="lg:text-3xl text-xl italic font-semibold font-serif pt-5 text-center">Flight School Pilot Training between Northwest Philadelphia and Reading</h2>
    <%= link_to "CONTACT US", "", class: "btn-primary my-5", onclick: "event.preventDefault(); document.getElementById('form-section').scrollIntoView({ behavior: 'smooth' });"%>
  </div>

  
</header>

<section class="bg-red-900 text-white">

<div class="flex flex-col lg:flex-row">
  <div class="lg:w-1/2">
    <%= image_tag "pitcairn-flight-penn-airways-building-front.webp", class: "w-full", alt: "Penn Airways Building Front"%>
  </div>
  <div class="lg:w-1/2 flex flex-col items-center">
    <div class="max-w-xl px-5">
      <h3 class="text-2xl font-bold py-10 text-center">Pitcairn Flight Academy LLC<br>is Your New Flight School</h3>
      <p class="pb-5">
        If you've ever dreamed of becoming a pilot, now is the time to turn that dream into reality.  As a pilot, you'll join an elite community of individuals who share your passion for aviation. You'll develop life changing skills, learn to stay cool under pressure, and build the confidence to handle any situation - both in the air and on the ground.
      </p>
      <div class="flex flex-col px-5 gap-3 pb-5">
        <div class="flex flex-row ">
          <div class="text-yellow-500 pr-2 font-extrabold">✈</div>
          <h3 class="lg:px-10 pl-4 text-left">Private Pilot</h3>
        </div>
        <div class="flex flex-row ">
          <div class="text-yellow-500 pr-2 font-extrabold">✈</div>
          <h3 class="lg:px-10 pl-4 text-left">Instrument Rating</h3>
        </div>
        <div class="flex flex-row ">
          <div class="text-yellow-500 pr-2 font-extrabold">✈</div>
          <h3 class="lg:px-10 pl-4 text-left">Commercial Certificate</h3>
        </div>
        <div class="flex flex-row ">
          <div class="text-yellow-500 pr-2 font-extrabold">✈</div>
          <h3 class="lg:px-10 pl-4 text-left">Certified Flight Instructor (CFI)</h3>
        </div>
      </div>
      <p class="pb-5">
        We're at Pottstown Heritage Field Airport <strong>KPTW</strong> Airport (formerly known as Pottstown-Limerick Airport) right inside the Penn Airways Inc. building.  Give us a call or fill out the form below.  
      </p>
    </div>
  </div>

</div>

<section class="bg-red-900 text-white">

  <div class="flex flex-col-reverse lg:flex-row">
    <div class="lg:w-1/2 flex flex-col items-center"> 
      <div class="max-w-xl px-5">
        <h2 class="font-bold text-2xl py-10 text-center">Pitcairn Flight Academy LLC<br>Offers Plane Rentals</h2>
        <p class="pb-10">
          We're happy to annouce that we offer plane rentals.  In our fleet we have a Cessna 152s, Cessna 172s, and a Beechcraft Sierra available for rental.  Please contact us for more details.  
          Prior to renting one of planes, you must be added to Flight Schedule Pro.  In addition, we will need to have copy of documents on file which will include emergency contact information, photo ID, medical certificate, TSA citizenship verification, and TSA awareness training.
        </p>
        <p class="font-bold text-xl pb-10">
          From the team at Pitcairn Flight Academy LLC, we're looking forward to flying with you.
        </p>
      </div>
    </div>
    <div class="lg:w-1/2"> 
      <%= image_tag "pitcairn-two-cessnas.webp", alt: "Two Cessnas at Pitcairn Flight Academy LLC", class: "w-full"%>
    </div>
  </div>

</section>

</section>
<section class="flex flex-col lg:flex-row justify-center" id="form-section">
  <div class="lg:w-1/2">
    <div class="lg:p-10">
      <%= image_tag "pitcairn-flight-inside-cessna.webp", alt: "Inside a Cessna airplane at Pitcairn Flight", class: "lg:rounded-2xl"%>
    </div>
  </div>
  <div class="lg:w-1/2 lg:px-20 px-5">
    <%= turbo_frame_tag 'form-section' do %>
      <%= render 'form', message: @message%>
    <% end %>
  </div>
</section>
<%= render "shared/visit_school"%>


<p class="lg:text-4xl text-2xl font-bold text-center p-20">
Website is under construction and coming soon.  Meanwhile, please feel free to call us or drop by and say hello.
</p>