<%# Head / Meta Data %>
<% title("Visit Us | SimpliFly Flight School") %>
<% meta_description("Visit Simplifly, the top-rated flight school in Mesa, Phoenix, Scottsdale, and Spanish Fork, Salt Lake. Experience our state-of-the-art facilities and meet our instructors. Schedule your visit today.") %>
<% meta_keywords("Visit Simplifly, Flight School Visit, Mesa Flight School, Phoenix Flight School, Scottsdale Flight School, Spanish Fork Flight School, Salt Lake Flight School") %>

<%= render "shared/header"%>

<header class="w-full bg-canyon bg-cover h-screen-3/4 lg:h-screen-4/5 flex justify-center items-center text-white">
  <div class="px-5 py-40 lg:py-52 flex flex-col justify-center items-center w-full">
      <h1 class="font-semibold font-header text-5xl lg:text-8xl lg:px-20 text-center">CHECK SIMPLIFLY OUT</h1>
      <h2 class="font-bold text-xl lg:text-3xl italic text-center py-5 lg:py-10">We're at Falcon Field and Spanish Fork</h2>
      <a href="#contact" class="btn-primary"
        onclick="event.preventDefault(); 
                const contactElement = document.getElementById('contact');
                const targetOffset = contactElement.offsetTop -20;
                window.scrollTo({ top: targetOffset, behavior: 'smooth' });">
        CONTACT US
      </a>
  </div>
</header>

<%= render "shared/visit_school"%>

<div class="bg-gradient-to-l from-slate-200 to-blue-50"  id="contact">
  <h1 class="font-bold text-4xl pt-10 text-center">Contact Us</h1>
  <div class="lg:flex lg:flex-row-reverse items-center lg:items-start">
  

    <div class="mx-10 lg:px-16 lg:w-1/2">
      <%= render "form", message: @message %>      
    </div>

    <div class="mx-0 lg:w-1/2">
      <%=image_tag "simplifly-team.webp", class: "lg:pt-10", alt: ""%>
    </div>

  </div>

</div>


<%= render "shared/footer"%>