<p>Thank you, <%=@message.name%>, for contacting Pitcairn Flight Academy LLC.</p> 
<p>We appreciate your interest in Pitcairn Flight Academy LLC and we will do our best to respond to your message as soon as possible. Our team strives to provide excellent customer service and we look forward to assisting you with your aviation needs.</p> 
<p>In the meantime, please feel free to visit our website for more information about our programs and services. We also encourage you to follow us on social media to stay up to date on the latest news and events from Pitcairn Flight Academy LLC.</p>
<p>Thank you again for reaching out to us. We value your feedback and will be in touch soon!</p>
<br>
<br>
<p>
  The team at Pitcairn Flight Academy LLC<br>
  <a href="tel:1-610-495-7000">1-610-495-7000</a><br>
  <a href="mailto:flynow@pitcairnflight.com">flynow@pitcairnflight.com</a>
</p>
<br>
<br>
  -------- Your Form Submission Details --------
<br>
<br>
<p>Name: <%=@message.name%></p>
<p>Phone: <%=@message.phone%></p>
<p>Email: <%=@message.email%></p>
<p>Message: </p>
<p><%=@message.body%></p>