<div id="<%= dom_id book_download %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= book_download.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= book_download.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= book_download.phone %>
  </p>
  <% if action_name != "show" %>
    <%= link_to "Show this book download", book_download, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this book download', edit_book_download_path(book_download), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
