<%= form_with(model: @book_download, class: "contents") do |form| %>
  <% if @book_download.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 text-sm font-medium rounded-lg mb-5">
      <h2><%= pluralize(@book_download.errors.count, "mistake") %> need to be fixed</h2>

      <ul>
        <% @book_download.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="w-full">
    <div class="mb-5">
      <%= form.text_field :name, placeholder: "Name", class: " shadow text-black rounded-md border border-gray-200 focus:border-sky-500 focus:ring-sky-500 px-3 py-2 w-full" %>
    </div>
    <div class="mb-5">
      <%= form.text_field :phone, placeholder: "Phone", class: " shadow text-black rounded-md border border-gray-200 focus:border-sky-500 focus:ring-sky-500 px-3 py-2 w-full" %>
    </div>
    <div class="mb-5">
      <%= form.email_field :email, placeholder: "Email", class: " shadow text-black rounded-md border border-gray-200 focus:border-sky-500 focus:ring-sky-500 px-3 py-2 w-full"  %>
    </div>
    <%= invisible_captcha :confirm_email, :book_download %>
    <div class="inline">
      <%= form.submit "Download", class: "btn-primary uppercase" %>
    </div>
  </div>

<% end %>
