<p>Thank you, <%=@message.first_name%>, for applying to enroll at SimpliFly.</p> 
<p>We appreciate your interest in SimpliFly and we will do our best to respond to your message as soon as possible. Our team strives to provide excellent customer service and we look forward to assisting you with your aviation needs.</p> 
<p>If you haven't taken a discovery flight yet, we recommend giving it a try and see if becoming a pilot is right for you.</p>
<p>If you are interested in pursuing a career as a pilot, we offer comprehensive training programs that will help you achieve your goals. Our programs cover everything from private pilot certification to advanced training in commercial aviation.</p>
<p>Whatever your goals may be, we are confident that we can help you achieve them. If you have any questions about our programs, please don't hesitate to contact us.</p>
<p>In the meantime, please feel free to visit our website for more information about our programs and services. We also encourage you to follow us on social media to stay up to date on the latest news and events from SimpliFly.</p>
<p>Thank you again for reaching out to us. We value your feedback and will be in touch soon!</p>
<br>
<br>
<p>
  The team at SimpliFly<br>
  <a href="tel:1-480-256-8355">1-480-256-8355</a><br>
  <a href="mailto:info@simpliflyco.com">info@simpliflyco.com</a>
</p>
<br>
<br>
  -------- Your Form Submission Details --------
<br>
<br>
First Name: <%=@message.first_name%><br>
Last Name: <%=@message.last_name%><br>
Phone: <%=@message.phone%><br>
Email: <%=@message.email%><br>
Location: <%=@message.location%><br>
<br>
Previous Training: <%=@message.previous_training%><br>
Goals: <%=@message.goals%><br>
Comments: <%=@message.comments%><br>
<br>
Selected Date: <%=@message.preferred_date%><br>
Selected Time: <%=@message.preferred_availability%><br>
Alternate Date: <%=@message.alternate_date%><br>
Alternate Time: <%=@message.alternate_availability%><br>