
<section class="bg-gradient-to-t lg:bg-gradient-to-l from-ideal-blue to-ideal-blue flex flex-col items-center text-white">
  <div class="pt-10 flex flex-col items-center">
    <h2 class="text-center text-4xl font-bold pb-10">Careers in Aviation</h2>

    <p class="text-center p-text lg:w-1/2 px-5 pb-10">
      Becoming a pilot is a rewarding and respected career path with high earning potential and comprehensive benefits.  A regional first officer can make well into the six figures and captains in legacy carriers can make over $300,000 per year. This is a million dollar career.  Are you ready?
    </p>
    
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-10 pb-10 px-5">
      
      <div class="block max-w-sm rounded-lg bg-white shadow-lg">
        <%= image_tag "ideal_cfi.webp", class: "rounded-t-lg", alt: "CFI at Ideal Aviation"%>
        <div class="p-6">
          <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
            Certified Flight Instructor
          </h5>
          <p class="mb-4 text-base text-neutral-600 ">
             This career involves teaching others to fly and helping them develop the skills and knowledge they need to become safe and competent pilots. If you're passionate about teaching and enjoy sharing your love of aviation with others, a career as a flight instructor could be a great fit. 
          </p>
        </div>
      </div>

      <div class="block max-w-sm rounded-lg bg-white shadow-lg">
        <%= image_tag "fighter_jet.webp", class: "rounded-t-lg", alt: "Fighter Jet"%>
        <div class="p-6">
          <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
            Military Pilot
          </h5>
          <p class="mb-4 text-base text-neutral-600 ">
            If you're interested in serving your country and flying advanced aircraft, a career in the military may be a good fit. This type of career typically involves serving in the Air Force, Navy, or another branch of the military, and can involve flying fighter jets, transport planes, or helicopters.
          </p>
        </div>
      </div>

      <div class="block max-w-sm rounded-lg bg-white shadow-lg">
        <%= image_tag "crop_duster.webp", class: "rounded-t-lg", alt: "Crop Duster (Photo by Kevin Wood)", title: "Photo by Kevin Wood"%>
        <div class="p-6">
          <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
            Agricultural Pilot
          </h5>
          <p class="mb-4 text-base text-neutral-600 ">
            If you enjoy flying and want to work in a unique and challenging environment, a career as an agricultural pilot may be worth considering. This type of career involves flying specialized aircraft to spray crops with pesticides or other chemicals, and requires specialized training and skills.
          </p>
        </div>
      </div>

      <div class="block max-w-sm rounded-lg bg-white shadow-lg">
        <%= image_tag "atlas_air.webp", class: "rounded-t-lg", alt: "Atlas Air 747 (Photo by Bernal Saborio)", title: "Photo by Bernal Saborio"%>
        <div class="p-6">
          <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
            Cargo Pilot
          </h5>
          <p class="mb-4 text-base text-neutral-600 ">
            If you would rather transport goods instead of passengers, a career as a cargo pilot is a great fit. This type of career typically involves flying for cargo airlines and freight companies. Being a cargo pilot involves transporting goods both domestically and internationally.
          </p>
        </div>
      </div>

      <div class="block max-w-sm rounded-lg bg-white shadow-lg">
        <%= image_tag "missionary_pilot.webp", class: "rounded-t-lg", alt: "Missionary Pilot (Photo by Flying by Faith)" , title: "Photo by Flying by Faith"%>
        <div class="p-6">
          <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
            Missionary Pilot
          </h5>
          <p class="mb-4 text-base text-neutral-600 ">
            This type of pilot career involves flying small aircraft to remote locations to deliver supplies, transport missionaries, and provide medical assistance.  If you have a passion for serving others and want to use your piloting skills to help people in need around the world, consider a career as a missionary pilot. 
          </p>
        </div>
      </div>

      <div class="block max-w-sm rounded-lg bg-white shadow-lg">
        <%= image_tag "news_helicopter.webp", class: "rounded-t-lg", alt: "News Helicopter (Photo by Michael Spencer)", title: "Photo by Michael Spencer"%>
        <div class="p-6">
          <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
            News Pilot
          </h5>
          <p class="mb-4 text-base text-neutral-600 ">
            This involves flying aircraft equipped with cameras and other equipment to cover breaking news stories and events from a unique perspective. If you enjoy journalism and flying, a career as a news anchor pilot may be a good fit. 
          </p>
        </div>
      </div>

      <div class="block max-w-sm rounded-lg bg-white shadow-lg">
        <%= image_tag "aerial_survey.webp", class: "rounded-t-lg", alt: "Aerial Survey"%>
        <div class="p-6">
          <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
            Survey Pilot
          </h5>
          <p class="mb-4 text-base text-neutral-600 ">
             This type of pilot career typically involves flying small aircraft over specific areas to help surveyors gather data and images that are used for a variety of purposes such as land surveying, mapping, and environmental monitoring.
          </p>
        </div>
      </div>

      <div class="block max-w-sm rounded-lg bg-white shadow-lg">
        <%= image_tag "gulfstream.webp", class: "rounded-t-lg", alt: "Gulstream (photo by Charly W. Karl)", title: "Photo by Charly W. Karl"%>
        <div class="p-6">
          <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
            Corporate or Charter Pilot
          </h5>
          <p class="mb-4 text-base text-neutral-600 ">
            If you prefer to work in a more personalized setting, a career as a corporate or charter pilot may be a good fit. This type of career typically involves flying smaller aircraft for private companies or individuals, and can be a great way to build your flight hours and gain experience.
          </p>
        </div>
      </div>

      <div class="block max-w-sm rounded-lg bg-white shadow-lg">
        <%= image_tag "https://tecdn.b-cdn.net/img/new/standard/nature/184.jpg", class: "rounded-t-lg", alt: ""%>
        <div class="p-6">
          <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
            Airline Pilot
          </h5>
          <p class="mb-4 text-base text-neutral-600 ">
            As an airline pilot, you'll fly commercial airliners and transport passengers and cargo to destinations around the world. This is often seen as the ultimate goal for many pilots, and it typically requires thousands of flight hours and extensive experience.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>