<%= render "shared/header"%>

<header class="w-full bg-sunset bg-cover h-screen-3/4 lg:h-screen-4/5 bg-center flex justify-center items-center text-white">
  <div class="px-5 py-40 lg:py-52 flex flex-col justify-center items-center w-full">
      <h1 class="font-bold text-5xl text-center">Aircraft Rental in St. Louis</h1>
      <h2 class="font-bold text-4xl text-center py-10">Ideal Aviation is the Best Place to Rent Aircraft</h2>
      <%= link_to "GET CHECKED OUT TODAY", rental_checkout_path, data: { turbo: false }, class: "btn-primary" %>
  </div>
</header>

<section class="bg-gradient-to-b from-slate-100 to-white flex flex-col items-center">
  <h2 class="font-bold text-4xl text-center py-10">Helicopter and Airplane Rental</h2>
  <p class="w-3/4 pb-10 p-text">No matter your level of experience, we have the perfect aircraft to suit your needs.  Our fleet is meticulously maintained and expertly serviced, so you can take to the skies with complete confidence.  We use the latest technology and equipment to ensure that every rental is in top condition and ready to fly. </p>
  <p class="w-3/4 pb-10 p-text">Ideal Aviation has a wide range of top-quality aircraft available for rental, including the Cessna 172, Piper Pilots, Cirrus SR22, and Piper Seminole, as well as the Guimbal Cabri G2 helicopter.  So why wait? Rent an aircraft from Ideal Aviation and experience the thrill of flying for yourself!</p>
</section>

<%= render "shared/helicopter_airplane_fleet"%>

<%= render "shared/cta_arch"%>
<%= render "shared/cta_next_steps"%>
<%= render "shared/footer"%>

<!--Sticky div-->
</div>