<%= render "shared/header"%>

<header class="bg-gradient-to-b from-slate-50 to-blue-100">
  <div class="flex flex-col lg:flex-row-reverse">
    <div class="flex flex-col items-center lg:w-1/2">
      <h1 class="font-bold text-5xl pt-10 text-center">Airplane Pilot Training</h1>
      <h2 class="font-semibold text-xl italic pt-5 pb-3 px-10 text-center">Part 141 and part 61 airplane pilot training courses</h2>
      <p class="p-text w-3/4 pb-5">
        Ideal Aviation is the place to become a pilot in St. Louis, MO.  Whether you're starting on your private or training for advanced ratings, we can help you get your private pilot certificate and more.
      </p>
      <div class="flex flex-col px-5 gap-3">
        <div class="flex flex-row ">
          <div class="text-green-500 pr-2 font-extrabold">✓</div>
          <h3 class="lg:px-10 pl-4 p-text text-left">Professional, safe, friendly instructors</h3>
        </div>
        <div class="flex flex-row ">
          <div class="text-green-500 pr-2 font-extrabold">✓</div>
          <h3 class="lg:px-10 pl-4 p-text text-left">Airplane availability and large fleet</h3>
        </div>
        <div class="flex flex-row ">
          <div class="text-green-500 pr-2 font-extrabold">✓</div>
          <h3 class="lg:px-10 pl-4 p-text text-left">Modern and well maintained airplanes</h3>
        </div>
        <div class="flex flex-row ">
          <div class="text-green-500 pr-2 font-extrabold">✓</div>
          <h3 class="lg:px-10 pl-4 p-text text-left">Private classrooms and tailored lessons</h3>
        </div>
        <div class="flex flex-row ">
          <div class="text-green-500 pr-2 font-extrabold">✓</div>
          <h3 class="lg:px-10 pl-4 p-text text-left">Part 61 and part 141 FAA approved training center</h3>
        </div>
      </div>
      <%= link_to "SEND US A MESSAGE", contact_path, data: { turbo: false }, class: "btn-primary my-3" %>
    </div>
    <div class="flex flex-col items-center lg:w-1/2">
      <%= image_tag "multi.webp", alt: "Pilot giving the thumbs up by a piper seminole", class: "lg:w-4/5"%>
    </div>
  </div>
</header>


<%= render "shared/cta_discovery_flight_right"%>
<%= render "shared/after_discovery"%>

<header class="w-full bg-cessna-sunset bg-cover h-screen-3/4 lg:h-screen-4/5 bg-center flex justify-center items-center text-white">
  <div class="px-5 py-40 lg:py-52 flex flex-col justify-center items-center w-full">
      <h1 class="font-bold text-5xl text-center">Ideal Aviation Airplanes</h1>
      <h2 class="font-bold text-4xl text-center py-10">Check out the airplane fleet at Ideal Aviation</h2>
      <%= link_to "VIEW FIXED WING AIRCRAFT", fixed_wing_path, data: { turbo: false }, class: "btn-primary" %>
  </div>
</header>


<%= render "shared/testimonials"%>
<%= render "shared/pilot_programs"%>
<%= render "shared/cta_fly_with"%>
<%= render "shared/cta_book"%>
<%= render "shared/cta_next_steps"%>
<%= render "shared/footer"%>


<%# Sticky div %>
</div>