<%# Head / Meta Data %>
<% title("Multi Engine Training | SimpliFly Flight School") %>
<% meta_description("Enhance your pilot skills with a multi-engine rating at Simplifly. Learn to fly advanced aircraft and open up new opportunities in your aviation career. Many of our students come from Gilbert, Chandler, Tempe, Scottsdale, Apache Junction, Queen Creek, Fountain Hills, Gold Canyon, Maricopa, Pinal, Springville, Provo, Payson, Mapleton, Salem, Elk Ridge, Utah County, Juab County") %>
<% meta_keywords("Multi-Engine Rating, Advanced Pilot Training, Mesa Flight School, Phoenix Flight School, Scottsdale Flight School, Spanish Fork Flight School, Salt Lake Flight School") %>

<%= render "shared/header"%>

<section class="bg-gradient-to-t lg:bg-gradient-to-l from-sky-800 to-slate-900 text-white">
  <div class="flex flex-col lg:flex-row-reverse lg:items-center pt-10 lg:py-10">
    <!--Text Section-->
    <div class="lg:w-1/2 flex flex-col justify-center items-center pb-10">
      <p class="text-xl lg:text-3xl text-center">Get Your Multi Engine Rating at SimpliFly</p>
      <h2 class="font-bold text-3xl lg:text-5xl pt-5 text-center">Multi Engine Rating</h2>
      <p class="w-5/6 lg:w-4/5 pt-5 text-left lg:text-left text-lg lg:text-base p-text">
      The first step in your aviation journey is to get your private pilot certificate.  There are three main tests that you need to pass to get your pilot license: the medical exam, written test, and the flight test (checkride).
      </p>
      <p class="w-5/6 lg:w-4/5 pt-5 text-left lg:text-left text-lg lg:text-base p-text">
      We believe that the key to your success lies in our commitment to providing the highest quality flight training available, with a focus on safety, professionalism, and personalized attention.
      </p>
    </div>
    <div class="lg:w-1/2">
      <div class="grid place-items-center lg:mx-10">
        <%= image_tag "multi-pass.webp" , alt: "SimpliFly Pilots passing Multi Engine Checkride", class: "lg:rounded-2xl lg:w-5/6"%>
        
      </div>
    </div>
  </div>
</section>

<section class="bg-gradient-to-b from-slate-50 to-sky-200 flex flex-col items-center">
  <div class="max-w-4xl flex flex-col pt-10 px-5">
    <h3 class="text-5xl font-header uppercase font-semibold">Get Your Multi Engine Rating</h3>
    <h4 class="text-3xl text-slate-600 italic py-5">Simplifly Offers Accelerated and Flexible Training Options</h4>
    <p class="text-lg">A Multi Engine Rating is a pilot rating that qualifies you to fly as pilot-in-command (PIC) of any aircraft with more than one engine. It is a minimum requirement if you're looking to go to the airlines and having a Multi Engine Rating helps with your aviation career prospects.</p>
    
    <h3 class="text-5xl font-header uppercase font-semibold pt-20 pb-5">How Long Will it Take?</h3>
    <p class="text-lg">The amount of time required to earn a multi engine rating varies and largely depends on weather, availability, finances, and how often a student is available to fly. In our accelerated program, a multi engine rating can be earned in approximately two weeks. If flying only a few times a week, expect to be ready for your multi engine checkride in a few months.</p>

    <h3 class="text-5xl font-header uppercase font-semibold pt-20 pb-5">What are the Eligibility Requirements?</h3>
    <ul class="list-disc text-lg pl-10 lg:pl-16">
      <li>Earn the required endorsements from an authorized instructor</li>
      <li>Take and pass a checkride with a pilot examiner to act as PIC of a multi engine aircraft</li>
    </ul>
    <p class="text-slate-600 italic pt-5">Reference 14 CFR ยง61.103 for the entire list of eligibility requirements.</p>

    <h3 class="text-5xl font-header uppercase font-semibold pt-20 pb-5">The SimpliFly Guarantee</h3>
    <p class="text-lg pb-20">If you have completed your <%= link_to "private", private_pilot_path, class: "text-sky-600 hover:underline", data: {turbo: false}%>, <%= link_to "intrument", instrument_path, class: "text-sky-600 hover:underline", data: {turbo: false}%>, <%= link_to "commercial", commercial_path, class: "text-sky-600 hover:underline", data: {turbo: false}%>, and <%= link_to "CFI", cfi_path, class: "text-sky-600 hover:underline", data: {turbo: false}%> training at SimpliFly, we have an exciting opportunity for you. As a testament to our confidence in your abilities, we offer a guaranteed interview for a teaching position as a CFI within our flight school. This exclusive opportunity allows you to showcase the knowledge and skills you have acquired during your training journey with us. Join our team of dedicated instructors, inspire future aviators, and make a meaningful impact in the aviation community. Take the next step in your career as a CFI with SimpliFly and let your passion for aviation soar.</p>
  </div>
</section>




<%= render "shared/cta_pilot_simple"%>
<%= render "shared/cta_next_steps"%>
<%= render "shared/footer"%>





<%# Sticky div %>
</div>