<%# Head / Meta Data %>
<% title("The SimpliFly Team") %>
<% meta_description("Meet the experienced team of instructors at Simplifly in Mesa, Phoenix, Scottsdale, and Spanish Fork, Salt Lake. Our knowledgeable and dedicated instructors are committed to your pilot training success. Many of our students come from Gilbert, Chandler, Tempe, Scottsdale, Apache Junction, Queen Creek, Fountain Hills, Gold Canyon, Maricopa, Pinal, Springville, Provo, Payson, Mapleton, Salem, Elk Ridge, Utah County, Juab County") %>
<% meta_keywords("Flight School Instructors, Pilot Training Team, Mesa Flight School, Phoenix Flight School, Scottsdale Flight School, Spanish Fork Flight School, Salt Lake Flight School") %>

<%= render "shared/header"%>
<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:pt-16 lg:px-6 p-text">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <h2 class="mb-4 text-4xl  font-bold text-slate-900 ">Leadership Team</h2>
      <p class="font-light text-slate-500 lg:mb-16 lg:text-xl ">Our leadership team consists of skilled and experienced aviation experts who have a deep passion for the flight training and are dedicated to delivering exceptional training and support to our students.</p>
    </div> 
    <div class="px-5 lg:mx-auto flex flex-col w-full gap-8 mb-6 lg:mb-16 max-w-4xl">
      
      <div class="items-center bg-slate-100 rounded-lg shadow lg:flex">
          <%= image_tag "blake.webp", class: "w-full lg:w-54 rounded-lg rounded-b-none lg:rounded-none lg:rounded-l-lg", alt: "Blake Murphy"%>
          <div class="p-5">
            <h3 class="text-xl font-semibold  text-slate-900 ">
                Blake Murphy
            </h3>
            <span class="text-slate-500 ">Owner | CFO</span>
            <p class=" font-light text-slate-500 text-base">Blake has a desire to grow as a person everyday and to help others do the same. During his aviation career, Blake worked  as a CFI, CFII and MEI.  He did most of his instructing as a multi-engine instructor for a Local flight school before opening SimpliFly with JT. He has over 1500 hours of flight time, most of that dual-given. Blake was flying for a private charter company before he took a break from flying to focus all of his attention on the flight school and helping as many people as he can become professional pilots. When the time is right Blake plans on returning to the airlines while continuing to build the flight school.</p>
          </div>
      </div> 
      <div class="items-center bg-slate-100 rounded-lg shadow lg:flex  ">
        <%= image_tag "jt.webp", class: "w-full lg:w-54 rounded-lg rounded-b-none lg:rounded-none lg:rounded-l-lg", alt: "JT Lesueur"%>
        <div class="py-5 lg:py-0 px-5">
          <h3 class="text-xl font-semibold  text-slate-900 ">
              JT Lesueur
          </h3>
          <span class="text-slate-500 ">Owner | CEO</span>
          <p class="mt-3 mb-4 font-light text-slate-500 text-base">JT has a passion for helping people become better. He learned how to have great customer service while working at LeSueur Car company, his family's dealership.  Instead of continuing on at the dealership he decided to pursue his dreams in aviation. JT and Blake decided to start the flight school in the beginning on 2020. He now flies for Southwest Airlines, has his ATP and is a CFI, CFII, and MEI. He has also received type ratings in the CRJ, Phenom 100, Airbus A320 and the Boeing 737. One of his favorite parts of working in aviation is the ability to bring his wife and three kids to different destinations.</p>
        </div>
      </div> 
      <div class="items-center bg-slate-100 rounded-lg shadow lg:flex">
        <%= image_tag "jordan.webp", class: "w-full lg:w-54 rounded-lg rounded-b-none lg:rounded-none lg:rounded-l-lg", alt: "Jordan Cortez"%>
        <div class="py-5 lg:py-0 px-5">
            <h3 class="text-xl font-semibold  text-slate-900 ">
                Jordan Cortez
            </h3>
            <span class="text-slate-500 ">Chief Pilot | Program Director</span>
            <p class="mt-3 mb-4 font-light text-slate-500 text-base">Jordan was raised in Arizona and hired at SimpliFly in early 2021.  After receiving his Bachelor of Science from Brigham Young University, he began flight training at Falcon Field Airport in 2020. He is an ERJ-175 First Officer at SkyWest Airlines and also was recently promoted as the Program Director at SimpliFly. One of the few things he enjoys more than flying is teaching others. Jordan's mission at SimpliFly is to mentor the next generation of pilots and help them take advantage of the numerous opportunities in aviation.</p>
        </div>
      </div> 
      <div class="items-center bg-slate-100 rounded-lg shadow lg:flex">
        <%= image_tag "nate.webp", class: "w-full lg:w-54 rounded-lg rounded-b-none lg:rounded-none lg:rounded-l-lg", alt: "Nate Benham"%>
        <div class="py-5 lg:py-0 px-5">
            <h3 class="text-xl font-semibold  text-slate-900 ">
                Nate Benham
            </h3>
            <span class="text-slate-500 ">Director of Operations</span>
            <p class="mt-3 mb-4 font-light text-slate-500 text-base">Nate was a school guidance counselor & basketball coach for 12 years before changing careers to aviation in 2019. All of Nate’s 3 younger brothers are pilots as are his dad & grandpa. Nate is married with two boys & a baby girl due in September & says he’s scared to death far more about having a girl than signing off students for their first solo. When not flying Nate plays city league hoops with his friends & enjoys watching his boys play youth league sports & doing whatever the Mrs requests. Nate finds a lot of joy in both flying & teaching new students to fly.</p>
        </div>
      </div> 
    </div>  
  </div>
</section>

<section class="bg-white">
  <div class="pb-8 px-4 mx-auto max-w-screen-xl text-center lg:pb-16 lg:px-6">
      <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
        <h2 class="mb-4 text-4xl tracking-tight font-bold text-slate-900 ">Our Instructors</h2>
        <p class="font-light text-slate-500 sm:text-xl dark:text-slate-400">At SimpliFly, our dedicated instructors prioritize delivering top-notch flight training to students. They combine their extensive aviation expertise, passion for the field, and commitment to creating a safe and supportive learning atmosphere. By doing so, they enable students to reach their aspirations and develop into proficient pilots.</p>
      </div> 

      <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 ">
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "carsten.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Carsten Brady"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Carsten Brady
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "ally.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Ally Murphy"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Ally Murphy
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "zach.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Zach Figgins"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Zach Figgins
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "dan.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Dan Klim"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Dan Klim
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "takoda.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Takoda Timpauer"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Takoda Timpauer
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "parker.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Parker Reynolds"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Parker Reynolds
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "matt.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Matt Barcelos"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Matt Barcelos
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "anders.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Anders Jones"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Anders Jones
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "sal.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Sal Nasta"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Sal Nasta
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "doug.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Doug Gillette"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Doug Gillette
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
      </div>  
  </div>
</section>

<%= render "shared/cta_pilot_simple"%>
<%= render "shared/footer"%>