<div id="<%= dom_id post %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= post.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Post date:</strong>
    <%= post.post_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%= post.author %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Post content:</strong>
    <%= post.post_content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= post.category %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Meta description:</strong>
    <%= post.meta_desription %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Meta keywords:</strong>
    <%= post.meta_keywords %>
  </p>


  <% if action_name != "show" %>
    <%= link_to "Show this post", post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this post', edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
